body {
    box-sizing: border-box;
    color: var(--clr-green-900);
    font-family: var(--font-p);
    font-size: 16px;
    margin:0;
    letter-spacing: .15px;
}

#content {
    padding: 3em;
}

h1 {
    letter-spacing: .75px;
    color: var(--clr-green-700);
    margin:0;
}