@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

:root {
    --clr-green-100: #d8f3dc;
    --clr-green-200: #B7E4C7;
    --clr-green-300: #95D5B2;
    --clr-green-400: #74C69D;
    --clr-green-500: #52B788;
    --clr-green-600: #40916C;
    --clr-green-700: #2D6A4F;
    --clr-green-800: #1B4332;
    --clr-green-900: #081C15;

    --font-p: 'DM Serif Text', serif;
}